<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Adivina el Número</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Juego de Adivina el Número</h1>
    <p>Premio actual: $<span th:text="${premio}"></span></p>
    <form id="adivina-form" action="/" method="post">
        <label for="numeroUsuario">Ingresa un número (1-10):</label>
        <input type="number" id="numeroUsuario" name="numeroUsuario" min="1" max="10">
        <input type="submit" value="Adivinar">
    </form>
    <p id="mensaje"></p>
    <button id="reset">Reiniciar</button>

   
</body>
</html>
